%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} Music Tracker
    %ul.nav.navbar-nav
      %li
        %a{:href => "/artists"} Artists
      %li
        %a{:href => "/albums"} Albums
      %li
        %a{:href => "/songs"} Songs
      %li
        %a{:href => "/contact"} Contact